:root {
  --key-bg: #d3d6da;
  --brick: #c84c0c;
  --sky: #5d94fb;
  --gold: #fbb84e;
  --pink: #f7d1c8;
}

.Key {
  font-weight: bold;
  border: 0;
  padding: 0;
  margin: 0 6px 0 0;
  height: 58px;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--pink);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0, 0.3);
}

.Key:last-child {
  margin: 0;
}

.wideKey {
  flex: 1.5;
  font-size: 0.8rem;
}

.keySpacer {
  flex: 0.5;
}

.keyboardRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto 8px;
  touch-action: manipulation;
}

.Keyboard {
  padding: 16px 8px;
  user-select: none;
  height: 200px;
  background-color: var(--brick);
}

.Game {
  max-width: 500px;
  margin: auto;
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  background-color: var(--sky);
}

.boardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: auto;
}

.Board {
  width: 350px;
  height: 420px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
  margin: auto;
}

.boardRow {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.boardTile {
  display: inline-block;
}

/*
.boardTileContent::before {
  content: "";
  display: inline-block;
  padding-bottom: 100%;
}
*/

.boardTileContent {
  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  text-transform: uppercase;
  user-select: none;
  text-shadow: 4px 3px black;
}

.boardTileContent[tilestate~="empty"] {
  border: 3px solid var(--brick);
  border-bottom-color: black;
  border-right-color: black;
  background-color: var(--gold);
}

div[tilestate~="await"] {
  border: 3px solid var(--brick);
  border-bottom-color: black;
  border-right-color: black;
  background-color: var(--gold);
  color: var(--brick);
}

div[tilestate~="absent"] {
  color: white;
  background-color: #787c7e;
}

div[tilestate~="present"] {
  color: white;
  background-color: #c9b458;
}

div[tilestate~="correct"] {
  color: white;
  background-color: #6aaa64;
}

.nails {
  font-size: 0.5rem;
  text-shadow: none;
  color: var(--brick);
  display: flex;
  width: 100%;
}

.dot {
  flex: 1;
  width: fit-content;
}

.dotSpacer {
  flex: 3;
}

.boardTileContent[tilestate~="absent"] .dot,
.boardTileContent[tilestate~="present"] .dot,
.boardTileContent[tilestate~="correct"] .dot {
  display: none;
}
