:root {
  --key-bg: #d3d6da;
}

.Key {
  font-weight: bold;
  border: 0;
  padding: 0;
  margin: 0 6px 0 0;
  height: 58px;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--key-bg);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0, 0.3);
}

.wideKey {
  flex: 1.5;
  font-size: 0.8rem;
}

.keySpacer {
  flex: 0.5;
}

.keyboardRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto 8px;
  touch-action: manipulation;
}

.Keyboard {
  margin: 0 8px;
  user-select: none;
  height: 200px;
}

.Game {
  max-width: 500px;
  margin: auto;
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
}

.boardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

.Board {
  width: 350px;
  height: 420px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
  margin: auto;
}

.boardRow {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.boardTile {
  display: inline-block;
}

.boardTileContent::before {
  content: "";
  display: inline-block;
  padding-bottom: 100%;
}

.boardTileContent {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 1rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  text-transform: uppercase;
  user-select: none;
}

div[tilestate~="empty"] {
  border: 2px solid #d3d6da;
}

div[tilestate~="await"] {
  border: 2px solid #878a8c;
  color: black;
}

div[tilestate~="absent"] {
  color: white;
  background-color: #787c7e;
}

div[tilestate~="present"] {
  color: white;
  background-color: #c9b458;
}

div[tilestate~="correct"] {
  color: white;
  background-color: #6aaa64;
}
